name: CI-CD

on:
  push:
    branches: [main]

jobs:
  CI:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      
      - name: docker hub login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PWD }}
      
      - name: gerando image do projeto
        uses: docker/build-push-action@v3
        env:
          tagVersion: "${{github.run_number}}"
        with:
          context: .
          file: ./Dockerfile
          tags: |
            pphenrique/app2:latest
            pphenrique/app2:${{env.tagVersion}}
          push: true